.promotions-wrapper {
  margin-top: 100px; /* Espacio bajo el header fijo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Mantiene el flujo natural */
  text-align: center;
  min-height: 100vh;
  padding-bottom: 40px;
}

.description-text {
  max-width: 900px;
  margin: 0 auto;
}
